@import 'settings';

$padding: 1rem;

.object-scan-dashboard {
  display: flex;

  .left-side {
    flex: 1;
    padding: 2rem;
  }
  .right-side {
    flex: 1;
    padding: 2rem;
  }

  .search-box-container {
    width: 100%;
    .search-box {
      min-width: 60%;
    }
  }

  .loading-container {
    .loading-copy {
      font-size: 1.25rem;
      span {
        display: block;
        font-family: monospace;
        margin-top: 1.5rem;
        //font-style: italic;
        color: $gray-700;
        font-size: .85rem;
      }
    }
  }

  .results-container {

    h2 {
      margin-bottom: 2rem;
      font-size: 1.25rem;
      padding: 0 $padding;
    }
    
    .results-copy {
      text-transform: uppercase;
      font-size: 3rem;
      &.malicious {
        color: red;
      }
      &.suspicious {
        color: orange;
      }
      &.safe {
        color: green;
      }
    }

    .results-list {
      li {
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        .analysis-card {
          width: 100%;
          padding: $padding;
        }
      }
    }
  }
}
